[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "R0"]
	path = R0
	url = https://github.com/tobadia/r0
	shallow = true
	registered = true
